<div class="content">
    {{ content }}
</div>
{% if page.gallery %}
    {% assign galleries=site.data.[page.gallery] %}
    {% for gallery in galleries %}
    <div class="columns is-multiline">
        <div class="column is-12">
            <p class="title is-3 has-text-centered">{{ gallery.title }}</p>
        </div>
        {% for image in gallery.images %}
        <div class="column is-4-desktop is-6-tablet">
            <div class="card">
                <div class="card-image">
                    {% if page.galleryType == "download" %}
                        {% include download.html 
                                ratio=image.ratio 
                                link=image.link 
                                alt=image.alt 
                                large_link=image.large_link 
                                file=image.file %}
                    {% elsif page.galleryType == "image" %}
                        {% include image.html 
                            ratio=image.ratio 
                            link=image.link 
                            alt=image.alt 
                            large_link=image.large_link %}
                    {% endif %}
                </div>
                <div class="card-content">
                    <div class="content">
                        {{ image.description | markdownify }}
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
{% endif %}